.container{
    margin: 22px;
    margin-top: 50px;
    margin-left: 45px;
    margin-right: 45px;
    border: 2px rgba(0, 0, 255, 0.637) solid;
    border-radius: 20px;
    height: auto;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.849);
}
.boxshadow{
    text-shadow: 1px 2px 2px rgba(180, 180, 180, 0.849);
}
.flexbox-item{
    display: flex;
    justify-content: start;
}

.flexbox-item1{
    flex:1;
    margin: 25px;
}
.flexbox-item2{
    flex:1;
    margin: 25px;
}
.flexbox-item3{
    flex:1;
    margin: 25px;
}
.flexbox-item4{
    flex:1;
    margin: 25px;
}
.flexbox-item5{
    flex:1;
    margin: 25px;
}
.flexbox-item6{
    flex:1;
    margin: 25px;
}
.flexbox-item7{
    flex:1;
    margin: 25px;
}
.flexbox-item8{
    flex:1;
    margin: 25px;
}
.flexbox-item9{
    flex:1;
    margin: 25px;
}
.purchase-container{
    /* from container */
    margin: 22px;
    margin-top: 50px;
    margin-left: 45px;
    margin-right: 45px;
    border: 2px rgba(0, 0, 255, 0.637) solid;
    border-radius: 20px;
    height: auto;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.849);
}
.purchase-search{
    display: flex;
    justify-content: flex-end;
    margin:10px;
}

.purchase-search p{
    /* text-align: center; */
    margin-right: 25px;
    margin-top: 10px;
    font-size: large;
}

.search__button{
    display: inline-flex;
    margin-right: 12px;
    height: auto;
    width: fit-content;
    margin-left: 15px;
    background-color: rgb(58, 58, 241);
    border: 2px solid rgb(58, 58, 241);
    border-radius: 8px;
}
.clear__button{
    display: inline-flex;
    background-color: rgb(58, 58, 241);
    border: 2px solid rgb(58, 58, 241);
    border-radius: 8px;
}

#outlined{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding-left: 8px;
}