.MuiTableSortLabel-root{
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.MuiTableBody-root :hover{
    background-color: rgb(235, 235, 235);
} 
.MuiTableCell-root{
    font-size: 17px !important;
}
.PageSizeSelector-pageSizeSelector-41{
    font-size: 17px !important;
}
.MuiSelect-root{
    font-size: 17px !important;
    margin-top: 3px !important;
}
.Pagination-rowsLabel-48 {
    font-size: 17px !important;
    margin-top: 3px !important;
}
.Pagination-button-49{
    margin: 2px !important;
}
.Pagination-button-49 :hover{
    color: yellow !important;
}