.MuiTableSortLabel-root{
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.MuiTableBody-root :hover{
    background-color: rgb(247, 247, 247);
} 
.MuiTableCell-root{
    font-size: 17px !important;
}
.PageSizeSelector-pageSizeSelector-41{
    font-size: 17px !important;
}
.MuiSelect-root{
    font-size: 17px !important;
    margin-top: 3px !important;
}
.Pagination-rowsLabel-48 {
    font-size: 17px !important;
    margin-top: 3px !important;
}
.Pagination-button-49{
    margin: 2px !important;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.MuiButton-text{
    margin: 2px !important;
    padding: 0px !important;
    height: 35px !important;
    width: 25px !important;
    border-radius: 4px !important;
}
.MuiButton-text :hover{
    margin: 0px !important;
    padding: 0px !important;
    height: 35px !important;
    width: 25px !important;
    border-radius: 4px !important;
    color: white !important;
    background-color: rgb(58, 58, 241) !important ;
}
.Pagination-activeButton-50 {
    color: black !important;
    box-shadow: inset 0px 5px 10px rgba(0,0,0,0.1), 0px 2px 5px rgba(0,0,0,0.5) !important;
    background-color: rgb(233, 233, 233) !important;
}

.Pagination-next-53 :hover{
    box-shadow: inset 0px 5px 10px rgba(0,0,0,0.1), 0px 2px 5px rgba(0,0,0, 0.5) !important;
    height: 35px !important;
    width: 25px !important;
    border-radius: 4px !important;
    background-color: rgb(58, 58, 241) !important ;
    color: white;
}
.Pagination-prev-52 :hover{
    box-shadow: inset 0px 5px 10px rgba(0,0,0,0.1), 0px 2px 5px rgba(0,0,0, 0.5) !important;
    height: 35px !important;
    width: 25px !important;
    border-radius: 4px !important;
    background-color: rgb(58, 58, 241) !important ;
    color: white;
}

.Pagination-arrowButton-51{
    padding: 0px !important;
    height: 35px !important;
    width: 25px !important;
}
.Pagination-arrowButton-53{
    padding: 0px !important;
    height: 35px !important;
    width: 25px !important;
}
.MuiPaper-root{
    margin: 20px !important;
}
.MuiPaper-rounded{
    box-shadow: 3px 3px 20px rgb(0 0 0 / 30%) !important;
}